import Queryable, { BasicQueryParams } from "./source/queryable";

/** 模型 */
export interface ##TableName##Model {
  /** interface */
}

/** 搜索条件 */
export interface ##TableName##QueryParmas extends BasicQueryParams {
  
}

/** 数据源，增删查改等请求 */
export default class ##TableName##Query extends Queryable <##TableName##Model, ##TableName##QueryParmas > {
  // 可设置父ID，例如查询用户下的全部文章
  // constructor(id) {
  //     super();
  //     this.id = id;
  // }

  /** 对象名称 */
  get objectName(): string {
    return '数据'
  };

  // 默认的内容
  get defaultObject(): ##TableName##Model {
    return {
      /** property */
    };
  }

  // 读取正在输入的数据，用于表单校验
  _valueGetter: () => Partial<##TableName##Model> = () => ({});

  // 已输入的数据的Getter
  get currentEditRow(): Partial<##TableName##Model> {
    return this._valueGetter();
  }

  // 表单规则
  get rules() {
    return {
      /** rules */
    }
  };

  // 查询全部
  // async all(params: ##TableName##QueryParmas) {
  //   let res = await request({
  //     url: `/##tableName##`,
  //     method: "get",
  //     params: {
  //       pageNum: query.pageNum,
  //       pageSize: query.pageSize,
  //     },
  //   });
  //   if(res.data.count==undefined) return res.data.data;
  //   return {
  //     data: res.data.data,
  //     total: res.data.count,
  //   };
  // }

  // // 上传修改
  // async edit(obj: ##TableName##Model) {
  //   console.log("修改", obj);
  //   let id = obj.id;
  //   delete obj.id;
  //   return request({
  //     url: `/##tableName##/${id}`,
  //     method: "put",
  //     data: obj,
  //   });
  // }

  // // 添加
  // async add(obj: ##TableName##Model) {
  //   delete obj.id;
  //   return request({
  //     url: "/##tableName##",
  //     method: "post",
  //     data: obj,
  //   });
  // }

  // // 通过id删除
  // async deleteObj(obj: ##TableName##Model) {
  //   return request({
  //     url: `/##tableName##/${obj.id}`,
  //     method: "delete",
  //   });
  // }
}