<template>
  <div class="app-container">
    <div class="filter-container-flex">
      <el-button class="filter-item" type="success" :icon="Plus" @click="actions.add()">添加</el-button>
    </div>
    <el-table v-loading="tb.listLoading" :data="tb.list" element-loading-text="Loading" border fit
      highlight-current-row>
      <!-- 内容 -->
      <!-- table insert -->
      <!-- 操作 -->
      <el-table-column class-name="status-col" label="操作" align="center" width="220">
        <template #default="scope: ##TableName##ModelRow">
          <el-button-group>
            <el-button type="primary" @click="actions.edit(scope.row)">修改</el-button>
            <el-button type="danger" @click="actions.deleteRow(scope.row)">删除</el-button>
          </el-button-group>
        </template>
      </el-table-column>
    </el-table>
    <!-- 翻页 -->
    <div class="pagination-container" v-if="tb.total">
      <el-pagination v-model:current-page="tb.query.pageNum" :page-sizes="[5, 10, 20, 30, 50]"
        v-model:page-size="tb.query.pageSize" :total="tb.total" background
        layout="total, sizes, prev, pager, next, jumper" @size-change="(v: number) => actions.sizeChange(v)"
        @current-change="(v: number) => actions.pageChange(v)" />
    </div>
    <!-- 添加/删除数据的弹窗 -->
    <el-dialog v-model="tb.addDialogVisible" :title="actions.dialogTitle" @close="tb.isNew = false">
      <el-form :disabled="tb.submitLoading" :model="tb.row" :rules="tb.source.rules" label-position="left" label-width="100px" 
      style="width: 400px; margin-left: 50px">
        <!-- form insert -->
      </el-form>
      <template #footer class="dialog-footer">
        <el-button type="primary" :loading="tb.submitLoading" @click="actions.submit()">提交</el-button>
      </template>
    </el-dialog>
  </div>
</template>
<script lang="ts" setup>
import ##TableName##Query, { ##TableName##Model, ##TableName##QueryParmas, ##TableName##ModelRow } from './vad-api/##tableName##';
import { Plus } from '@element-plus/icons-vue'
import refTable from './basic/basic-table';

/** 创建表格，与表格相关操作 */
const [tb, actions] = refTable<##TableName##Model, ##TableName##QueryParmas>(
  new ##TableName##Query(),
  {
    // 默认的搜索值
  }
);
</script>
